.container {
  height: 180px;
  position: relative;
}

.mainPost {
  object-fit: cover;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  bottom: calc(50% - 48px); // 48px instead of 50px due to the overlay below
  right: calc(50% - 50px);
}

.overlay {
  width: 100%;
  height: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(46, 46, 46, 0.3) 50%,
    rgba(46, 46, 46, 1) 100%
  );
}

.title {
  background: #2e2e2e;
  text-align: center;
  padding: 15px;
  padding-top: 10px; // reducing padding top due to the additional overlay above

  p {
    margin-top: 5px;
    font-size: 0.75rem;
  }
}
