---
// Component imports and setup JavaScript go here!
import LinksContainer from '../components/LinksContainer';
import MainHead from '../components/MainHead/index.astro';
---

<html lang="en">
	<head>
		<MainHead />
	</head>

	<body>
		<LinksContainer />
	</body>
</html>
