---
// Component imports and setup JavaScript go here!
import LinksContainer from '../components/LinksContainer';
import MainHead from '../components/MainHead/index.astro';
---

<html lang="en">
	<MainHead />

	<body>
		<LinksContainer />
	</body>
</html>
