.container {
  list-style: none;
  border-bottom: 1px solid #e1e1e4;
}

.item {
  padding: 20px;
  height: 70px;
}

.anchor {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  border: 1.2px solid rgba(179, 181, 187, 0.4);
  border-radius: 4px;
  color: #414754;
  height: 32px;
  max-width: 100px;
  min-width: 100px;
  background-color: #fff;

  &:hover {
    background-color: #f5f5f5;
  }
}
